@font-face {
      font-family: 'Ithaca';
      src: url('assets/Ithaca_Font/Ithaca.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

body {
  margin:0;
  width: 100vw;
  height: 100vh;
  
  background: rgb(0, 0, 0);
  user-select: none;
  -webkit-app-region: drag;
}

.outer-app {
  display: grid;
  
  width: 198px;
  height: 298px;
  justify-content: center;
  align-items: center;
  background-image: url("assets/FUNDO-PRINCIPAL.png");
  background-repeat: no-repeat;
  background-position: center;

  background-size:cover;
}

#timer-area{
  display:flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  z-index: 1;
}

#timer-and-background{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/timerBackground.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 150px;
  height: 50px;
}

#lessTimeButton{
   
   position:fixed;
   left:18px;
   Z-index: 10;
}

#moreTimeButton{
  position:fixed;
  left:160px;
  Z-index: 10;
}

#control-buttons{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#barButtons{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 8px;
  margin-left: 132px;
}

#closeButtonWindow{
  margin-left: 3px;
}

#panda{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-self: center;
  height: 128px;

}

img[role="button"]:hover{
  opacity:0.85;
  transform: scale(1.2);
}

.timer-font  {
  margin-top:5px;
  font-family: 'Ithaca', monospace;
  font-size:xxx-large;
  color:#074513;

} 

button,
input,
textarea,
select,
img,
.close-button,

#timer-area {
  -webkit-app-region: no-drag;
}