@font-face {
      font-family: 'Ithaca';
      src: url('assets/Ithaca_Font/Ithaca.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

@keyframes pulseGlow {
    0%   { opacity: 1; transform: scale(1); }
    50%  { opacity: 0.4; transform: scale(1.3); }
    100% { opacity: 1; transform: scale(1); }
}

html, body {
  background: rgba(0, 0, 0, 0);
}
body {
  margin:0;
  width: 100vw;
  height: 100vh;
  
  background: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-app-region: drag;
}

.outer-app {
  display: grid;
  position: relative;
  width: 198px;
  height: 298px;
  justify-content: center;
  align-items: center;
  border-radius: 13px;  
  overflow: hidden;
  border: 3px solid #446E3F;
  box-sizing: border-box;
}

.outer-app::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("assets/GB.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.80;
  z-index: -1;
}


#timer-area{
  display:flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  z-index: 1;
  margin-bottom: 4px;

}

#timer-and-background{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/timerBackground.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 150px;
  height: 50px;
 
}

#lessTimeButton{
   
   position:fixed;
   left:18px;
   Z-index: 10;
}

#moreTimeButton{
  position:fixed;
  left:160px;
  Z-index: 10;
}

#control-buttons{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  
}

#barButtons{
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 5px;
}

#closeButtonWindow{
  margin-left: 3px;
}

#panda{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-self: center;
  height: 128px;
  margin-bottom: 10px;
  margin-right:10px;

}

img[role="button"]:hover{
  opacity:0.85;
  transform: scale(1.1);
}

img[role="button"]:active{
  opacity:1;
  transform: scale(0.9);
}

.timer-font  {
  margin-top: 35px;
  font-family: 'Ithaca', monospace;
  font-size:xxx-large;
  color:#264b3e;

} 

#study-break-tag{
  position:relative;
  margin-right: 45px;
  font-family: 'Ithaca';
  font-size: 1.5rem;
  height: 13px;
  border: 2px solid #446E3F ;
  display: flex;
  align-items: center;  
  border-radius: 10px; 
  gap: 7px;
  background-color: #BAD2B5;
  padding:4px;
  
}

.textStudyOrBreak{
    margin: 0;
    line-height: 1;
    font-family: 'Ithaca';
    font-size: 1.5rem;
    color: #0eec9f;
  }

.break-light {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: pulseGlow 1.5s infinite;
    background-color: #0f980d;
}

.study-light {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: pulseGlow 1.5s infinite;
    background-color: #c5484e;
}

.study-session-tag{
  position:relative;
  height: 5px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #446E3F ;
  display: flex;
  align-items: center;  
  gap: 5px;
  background-color: #c6dbc1;
  padding:3px;
  margin-left:57px;
  border-radius: 20px;
}






button,
input,
textarea,
select,
img,
.close-button,

#timer-area {
  -webkit-app-region: no-drag;
}