* {
  box-sizing: border-box;
}


body {
  margin:0;
  width: 100vw;
  height: 100vh;
  

  background: rgb(0, 0, 0);
  user-select: none;
  -webkit-app-region: drag;
}


.outer-app {
  border-radius: 10px;
  border-color: rgb(58, 35, 141);
  border-style: solid;
  display: flex;
  width: 291px;
  height: 431px;
  justify-content: center;
  align-items: center;
  background: rgb(106, 88, 149);
}

.app {
  border-radius: 20px;
  border-color: rgb(58, 35, 141);
  display:grid;
  width: 251px;
  height: 391px;

  background: rgb(161, 135, 178);
  padding: 20px;
  
}

.buttons-bellow{
  position: flex;

}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
